
@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

.wave-animation span {
  display: inline-block;
  animation-name: wave;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
